$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.table th {
    font-weight: 700;
}

/* EasyUI uses tooltip class too so we need to adjust so it doesn't break bootstrap tooltips */
.tooltip {
	border-width: 0px;
}
