<div class="container-fluid">
	<div class="row-fluid">
		<div class="span11">
			<h1>Neo4j Queries</h1>
			<form class="form-inline">
				<label><i class="icon-filter"></i> Filter:</label>
				<input type="text" ng-model="filter" class="input-small">
			</form>
		</div>
		<div class="span1">
			<i id="syncStatus" class="{{syncIcon}}" data-toggle="tooltip" data-placement="bottom"></i>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
		  	<table class="table table-striped">
		  		<thead>
		      		<tr>
		      			<th>Cypher <a href="http://www.neo4j.org/resources/cypher" target="_blank"><i class="icon-book"></i> Cypher cheat sheet</a></th>
		      			<th>Action</th>
		      		</tr>
		  		</thead>
		  		<tbody>
		  			<tr>
		  				<td>
							<textarea placeholder="Cypher" ng-model="newQuery.cypher" rows="5"></textarea>
		  				</td>
		  				<td>
							<button type="button" class="btn" ng-click="runQuery(newQuery)"><i class="icon-play"></i></button>
						</td>
		  			</tr>
		  		</tbody>
			</table>
		    <div class="input-append">
			    <input class="span8" type="text" placeholder="Query name" ng-model="newQuery.name" >
			    <button type="button" class="btn btn-primary" ng-click="addQuery()"><i class="icon-plus"></i> Save as</button>
		    </div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable"> <!-- Only required for left/right tabs -->
			    <ul class="nav nav-tabs">
				    <li class="active"><a href="#tab1" data-toggle="tab">Queries</a></li>
				    <li><a href="#resultsTab" data-toggle="tab">Output</a></li>
			    </ul>
			    <div class="tab-content">
				    <div class="tab-pane active" id="tab1">
					  	<table class="table table-striped">
					  		<thead>
					      		<tr>
					      			<th>Name</th>
					      			<th>Cypher</th>
					      			<th>Action</th>
					      		</tr>
					  		</thead>
					  		<tbody>
					      		<tr ng-repeat="query in queries | filter:filter">
					      			<td>{{query.name}}</td>
					      			<td><pre>{{query.cypher}}</pre></td>
					  				<td>
				  					    <div class="btn-group">
											<button type="button" class="btn" ng-click="runQuery(query)"><i class="icon-play"></i></button>
											<button type="button" class="btn" ng-click="delQuery(query)"><i class="icon-trash"></i></button>
											<button type="button" class="btn" ng-click="copyQuery(query)"><i class="icon-plus"></i></button>
										</div>
									</td>
					      		</tr>
					  		</tbody>
						</table>
				    </div>
				    <div class="tab-pane" id="resultsTab">
						<h1>Results {{query.name}}</h1>
					    <div ng-repeat="alert in alerts" class="alert alert-block alert-error">
					    	<span class="close" ng-click="dismissAlert(alert)">&times;</span>
					    	<h4>{{alert.title}}</h4>
					    	<p>
					    		<pre>{{alert.message}}</pre>
					    	</p>
						</div>
					  	<table easyui-datagrid="result" style="height:500px">
					  		<thead>
					      		<tr>
					      			<th ng-repeat="column in result.columns">{{column}}</th>
					      		</tr>
					  		</thead>
					  		<tbody>
					      		<tr ng-repeat="line in result.data">
					      			<td ng-repeat="cell in line">{{cell}}</td>
					      		</tr>
					  		</tbody>
						</table>
				    </div>
			    </div>
		    </div>
		</div>
	</div>
</div>
